:root {
    --color: #DF8DFB;
    --color-light: #EEBDFF;
    --red-color: #C90000;
    --green-color: #2DC56A;
    --light: #ffffff;
    --dark: #0D0D0D;
    --bg-dark: #16161d
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

li {
    list-style: none;

}

body {
    font-family: "Poppins", serif;
}

#bar {
    background: #d7d5d5;
    width: .1rem;
    height: 50px;
}

/* #global-container {
    background: #fafafa;
} */

/* Personaliza a barra de rolagem */
div.overflow-auto::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

/* Estiliza o fundo da barra de rolagem */
div.overflow-auto::-webkit-scrollbar-track {
     /* Cor do fundo */
    border-radius: 10px;
}

/* Estiliza o "thumb" (a parte que se move da barra de rolagem) */
div.overflow-auto::-webkit-scrollbar-thumb {
    background: #DF8DFB; 
    border-radius: 10px;
}

/* Quando o usuário passa o mouse por cima do thumb */
div.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: #b76edd;
}




div.overflow-auto {
    /* scrollbar-width: thin;
    scrollbar-color: #DF8DFB #f2f2f2; */
}

 
div.overflow-auto::-webkit-scrollbar {
    /* display: none; */
} 


/* @media (min-width: 376px) and (max-width: 639px) {
    #global-container {
        height: 100%;
    }
} */
